/*
* @Author: QiZhang
* @Date:   2020-05-01 20:20:46
* @Last Modified by:   QiZhang
* @Last Modified time: 2020-05-03 12:37:43
*/

/**
 * 公共样式
 */

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: "weijinsuo";
    src: url("../font/MiFie-Web-Font.eot") format("embedded-opentype"), url("../font/MiFie-Web-Font.svg") format("svg"), url("../font/MiFie-Web-Font.ttf") format("truetype"), url("../font/MiFie-Web-Font.woff") format("woff");
}

[class^="icon-"], [class*=" icon-"]{
    font-family: weijinsuo;
    font-style: normal;
}

.icon-mobilephone::before{
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before{
    content: "\e909";
    font-size: 15px;
}
/**
 * /公共样式
 */

/**
 * 头部区域
 */

#header {
    height: 200px;
    background-color: #f0f0f0;
}

#header > .topbar {
	height: 40px;
	border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header .mobile-link {
    font-size: 12px;
    color: #888;
}

#header .mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 28px;
}

#header .mobile-link:hover {
    text-decoration: none;
}

#header .mobile-link:hover > img {
    display: block;
}

/**
 * /头部区域
 */

/**
 * 脚注区域
 */

/**
 * /脚注区域
 */

/**
 * 测试样式
 */

section {
    height: 200px;
    background-color: #fff;
}
section:nth-of-type(2n) {
    background-color: #f5f5f5;
}
/**
 * /测试样式
 */